@model Assignment.ViewModels.ClothesDetailVM

@{
	ViewData["Title"] = "Details";
}

<div style="width:100%;height:auto;background-color:whitesmoke;padding-top: 20px;padding-bottom: 20px;">
	<div class="container">
		<div class="row">
			<div class="col-md-5" style="background-color:white;padding: 10px;">
				<img src="img/indexpt1.webp" style="width:100%;height:auto;" alt="">
				<nav aria-label="...">
					<ul class="pagination" style="margin-top:10px">
						<li class="page-item">
							<a class="page-link index-pt" href="">
								<img src="~/img/@Model.ImageLocation" style="width:100%;height:auto" alt="">
							</a>
						</li>
						<li class="page-item">
							<a class="page-link index-pt" href="">
								<img src="img/indexpt2.webp" style="width:100%;height:auto" alt="">
							</a>
						</li>
						<li class="page-item">
							<a class="page-link index-pt" href="#">
								<img src="img/indexpt3.webp" style="width:100%;height:auto" alt="">
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-md-7">
				<div style="width:100%;height:auto;background-color:white;padding: 10px;">
					<h4 style="font-weight:bold">
						@Html.DisplayFor(model => model.Name)
					</h4>
					<p>
						Loại: <span class="hl">@Html.DisplayFor(model => model.Type)</span>&emsp;|&emsp;MSP: <span class="hl">
							@Html.DisplayFor(model => model.ID)
						</span>
					</p>
					<h4 class="ls-pr">
						@Html.DisplayFor(model => model.Price)
						<span class="fs-pr" style="font-size:15px"></span>
					</h4>
					<hr>
					<p>
						Màu sắc: <span style="font-weight:bold">@Html.DisplayFor(model => model.Color)</span> &emsp; Kích thước: <span style="font-weight:bold">@Html.DisplayFor(model => model.Size)</span>&emsp; Số lượng: <span style="font-weight:bold">@Html.DisplayFor(model => model.Quantity)</span>
					</p>
					<nav aria-label="...">
						<ul class="pagination">
							@foreach (var x in ViewBag.ListColor)
							{
								<li class="page-item"><a class="page-link btn" style="margin-right:5px;border-radius:0px;color:black;" asp-area="" asp-controller="Home" asp-action="GetColor" asp-route-id="@x.ID">@x.Value</a></li>
							}
						</ul>
					</nav>
					<nav aria-label="...">
						<ul class="pagination">
							@foreach (var x in ViewBag.ListSize)
							{
								<li class="page-item"><a class="page-link btn" style="margin-right:5px;border-radius:0px;color:black;" asp-area="" asp-controller="Home" asp-action="GetSize" asp-route-id="@x.ID">@x.Value</a></li>
							}
						</ul>
					</nav>
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item"><a class="page-link sl" href="#">-</a></li>
							<li class="page-item"><a class="page-link sl" style="border-left: none;">1</a></li>
							<li class="page-item"><a class="page-link sl" style="border-left: none">+</a></li>
							<li class="page-item"><a class="page-link tvgh" asp-area="" asp-controller="Home" asp-action="AddClothesToCart" asp-route-id="@Model.ID">Thêm vào giỏ</a></li>
							<li class="page-item"><a class="page-link mg" asp-area="" asp-controller="Home" asp-action="BuyNow" asp-route-id="@Model.ID">Mua ngay</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top:20px">
			<div class="col-md-12" style="background-color:white;padding: 10px;">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active btn-tab" aria-current="page" href="#">MÔ TẢ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link btn-tab">CHÍNH SÁCH GIAO HÀNG</a>
					</li>
				</ul>
				<p style="margin-top:20px">
					@Html.DisplayFor(model => model.Description)
				</p>
			</div>
		</div>
	</div>
</div>